
<footer class="footer_box">

    <div class="foot_bg">

        <div class="clearfix"></div>

        <div id="dnn_Full_Screen_FootPaneA" class="Full_Screen_FootPaneA   DNNEmptyPane"></div>

        <div class="dnn_layout">
            <div class="footer_mid clearfix">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div id="dnn_FootPaneC" class="FootPaneC">
                            <div class="DnnModule DnnModule-DNN_HTML DnnModule-30729">
                                <a name="30729"></a>
                                <div class="Container-6">
                                    <!--Container Title-->
                                    <div class="dnntitle">
                                        <h4>
                                            <span id="dnn_ctr30729_dnnTITLE2_titleLabel" class="title-6">A propos de nous</span>
                                        </h4>
                                    </div>
                                    <!--Container Title End-->
                                    <!--Container Content-->
                                    <div class="contentmain1">
                                        <div id="dnn_ctr30729_ContentPane" class="contentpane">
                                            <!-- Start_Module_30729 -->
                                            <div id="dnn_ctr30729_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                                <div id="dnn_ctr30729_HtmlModule_lblContent" class="Normal">
                                                    <div class="animation fadeInUp">
                                                        <p>
                                                            <b>M. Alfred KAMOKWE</b>, Membre de la chambre de commerce de l'industrie et de l'artisanat.
                                                        </p>
                                                        <br />
                                                        <a class="Button_default2" href="#" target="_blank">
                                                            En savoir plus
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End_Module_30729 -->
                                        </div>
                                    </div>
                                    <!--Container Content End-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div id="dnn_FootPaneD" class="FootPaneD">
                            <div class="DnnModule DnnModule-DNN_HTML DnnModule-30730">
                                <a name="30730"></a>

                                <div class="Container-6">
                                    <!--Container Title-->
                                    <div class="dnntitle">
                                        <h4>
                                            <span id="dnn_ctr30730_dnnTITLE2_titleLabel" class="title-6">Nos partenaires</span>
                                        </h4>
                                    </div>
                                    <!--Container Title End-->
                                    <!--Container Content-->
                                    <div class="contentmain1">
                                        <div id="dnn_ctr30730_ContentPane" class="contentpane">
                                            <!-- Start_Module_30730 -->
                                            <div id="dnn_ctr30730_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                                <div id="dnn_ctr30730_HtmlModule_lblContent" class="Normal">
                                                    <ul class="list_style_12 animation fadeInUp delay1">
                                                        <li>
                                                            <span class="fa fa-check"></span>Fricom
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-check"></span>Licor 35
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-check"></span>Nutriva
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-check"></span>Palandin
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-check"></span>Saveur-biere
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End_Module_30730 -->
                                        </div>
                                    </div>
                                    <!--Container Content End-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div id="dnn_FootPaneE" class="FootPaneE">
                            <div class="DnnModule DnnModule-DNN_HTML DnnModule-30731">

                                <a name="30731"></a>

                                <div class="Container-6">
                                    <!--Container Title-->
                                    <div class="dnntitle">
                                        <h4>
                                            <span id="dnn_ctr30731_dnnTITLE2_titleLabel" class="title-6">Nos produits récent</span>
                                        </h4>
                                    </div>
                                    <!--Container Title End-->
                                    <!--Container Content-->
                                    <div class="contentmain1">
                                        <div id="dnn_ctr30731_ContentPane" class="contentpane">
                                            <!-- Start_Module_30731 -->
                                            <div id="dnn_ctr30731_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                                <div id="dnn_ctr30731_HtmlModule_lblContent" class="Normal">
                                                    <ul class="images_list3 animation fadeInUp delay2">
                                                        <li>
                                                            <a href="~/Resources/images/jpg/pic_10_1.jpg" class="LightBox_image">
                                                                <img alt="Image BOPACK" src="~/Resources/images/jpg/pic_10_small.jpg" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Resources/images/jpg/pic_11_1.jpg" class="LightBox_image">
                                                                <img alt="Image BOPACK" src="~/Resources/images/jpg/pic_11_small.jpg" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Resources/images/jpg/pic_12_1.jpg" class="LightBox_image">
                                                                <img alt="Image BOPACK" src="~/Resources/images/jpg/pic_12_small.jpg" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Resources/images/jpg/pic_13_1.jpg" class="LightBox_image">
                                                                <img alt="Image BOPACK" src="~/Resources/images/jpg/pic_13_small.jpg" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Resources/images/jpg/pic_14_1.jpg" class="LightBox_image">
                                                                <img alt="Image BOPACK" src="~/Resources/images/jpg/pic_14_small.jpg" />
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <!-- End_Module_30731 -->
                                        </div>
                                    </div>
                                    <!--Container Content End-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>

    </div>

    <div class="footer_bottom">
        <div class="dnn_layout">
            <div class="footer_mid clearfix">
                <div class="copyright_style">
                    <span id="dnn_dnnCOPYRIGHT_lblCopyright" class="footer">
                        © 2018 Tous droits réservés à BOPACK <small>V. @ViewBag.App_Version</small>
                    </span>
                    <span class="sep">|</span>
                    <a id="dnn_dnnPRIVACY_hypPrivacy" class="terms" rel="nofollow" href="#">
                        Déclaration de confidentialité
                    </a>
                    <span class="sep">|</span>
                    <a id="dnn_dnnTERMS_hypTerms" class="terms" rel="nofollow" href="#">
                        Conditions d'utilisation
                    </a>
                </div>
                <div id="dnn_FooterPane" class="FooterPane   DNNEmptyPane"></div>
            </div>
        </div>
    </div>

</footer>