
<!-- header1~6 -->
<header class="header_bg roll_menu">
    <div class="hidden-xs" id="header6">
        <div class="shade"></div>
        <div class="dnn_layout">
            <div class="head_mid  clearfix">
                <div class="dnn_logo">
                    <a id="dnn_dnnLOGO_hypLogo" title="Acceuil" href="Home.html">
                        <img id="dnn_dnnLOGO_imgLogo" src="@Url.Content("~/Resources/images/png/Logo.png")" alt="Image BOPACK" style="border-width: 0px;" />
                    </a>
                </div>

                <nav class="nav_box clearfix">

                        <div class="header_info">
                            <div class="login_list">
                                <span class="fa fa-flag" id="list_ico2"></span>
                                <div class="Login" id="list_con2">
                                    <div class="language-object"></div>
                                    <div class="registerGroup">
                                        <ul class="buttonGroup">
                                            <li class="userDisplayName">
                                                <a title="Français" rel="nofollow bp-msg" href="#">
                                                    <b>Fr</b>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="sep">|</span>
                                    <div class="loginGroup">
                                        <a title="Login" class="LoginLink bp-msg" rel="nofollow" href="#">
                                            <b>En</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="login_list">
                                <span class="fa fa-user" id="list_ico3"></span>
                                <div class="Login" id="list_con3">
                                    <div class="language-object"></div>
                                    <div class="registerGroup">
                                        <ul class="buttonGroup">
                                            <li class="userDisplayName">
                                                <a title="Register" class="LoginLink bp-msg" rel="nofollow" href="#">
                                                    Espace partenaire
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="sep">|</span>
                                    <div class="loginGroup">
                                        <a title="Login" class="LoginLink bp-msg" rel="nofollow" href="#">
                                            Espace représentant
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="dnn_menu">
                        <div id="dnngo_megamenu" class="IHide-sm IHide-md">
                            <div class="dnngo_gomenu" id="dnngo_megamenudbf3151ae3">
                                <ul class="primary_structure">
                                    <li class="current">
                                        <a href="Home.html" title="ACCEUIL"><span>ACCEUIL</span></a>
                                    </li>
                                    <li class="">
                                        <a href="OURSERVICE.html" title="QUI SOMMES-NOUS ?"><span>QUI SOMMES-NOUS ?</span></a>
                                    </li>
                                    <li class="">
                                        <a href="OURPRODUCTS.html" title="NOS PARTENAIRES"><span>NOS PARTENAIRES</span></a>
                                    </li>
                                    @*
                                        <li class="">
                                            <a href="OURPLANS.html" title="NOS TARIFS"><span>NOS TARIFS</span></a>
                                        </li>
                                    *@
                                    <li class="">
                                        <a href="OURCLIENTS.html" title="NOS CLIENTS"><span>NOS CLIENTS</span></a>
                                    </li>
                                    <li class="">
                                        <a href="CONTACTUS.html" title="CONTACTEZ NOUS"><span>CONTACTEZ NOUS</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>

    <div id="dnn_HeaderPane" class="HeaderPane DNNEmptyPane"></div>

</header>
<!-- header1~6 end -->

<!-- mobile header -->
<div class="visible-xs mobile_header">

    <!--<div class="mobile_top">
        <div class="dnn_layout">
            <div class="head_mid clearfix">
                <div class="mobile_language">
                    <div class="language-object">
                    </div>
                </div>
                <div class="mobile_icon">
                    <span class="fa fa-user" id="mobile_ico1"></span>
                    <span class="fa fa-search" id="mobile_ico2"></span>
                </div>
                <div class="Login" id="mobile_user">
                    <div id="dnn_dnnUser2_registerGroup" class="registerGroup">
                        <ul class="buttonGroup">
                            <li class="userDisplayName"><a id="dnn_dnnUser2_enhancedRegisterLink" title="Register" rel="nofollow" onclick="return dnnModal.show(&#39;http://demo7.dnngo.net/20067-onepage/register.aspx?returnurl=http%253a%252f%252fdemo7.dnngo.net%252f20067-onepage%252fHome.aspx&amp;popUp=true&#39;,/*showReturn*/true,600,950,true,&#39;&#39;)" href="registerc98b.html?returnurl=http%3a%2f%2fdemo7.dnngo.net%2f20067-onepage%2fHome.aspx">Register</a></li>
                        </ul>
                    </div>
                    <span class="sep">|</span>
                    <div id="dnn_dnnLogin2_loginGroup" class="loginGroup">
                        <a id="dnn_dnnLogin2_enhancedLoginLink" title="Login" class="LoginLink" rel="nofollow" onclick="return dnnModal.show(&#39;http://demo7.dnngo.net/20067-onepage/login.aspx?ReturnUrl=/20067-onepage/Home.aspx&amp;popUp=true&#39;,/*showReturn*/true,300,650,true,&#39;&#39;)" href="logine39c.html?ReturnUrl=%2f20067-onepage%2fHome.aspx">Login</a>
                    </div>
                </div>
                <div class="searchBox" id="mobile_search">
                    <span id="dnn_dnnSEARCH3_ClassicSearch">
                        <span class="searchInputContainer" data-moreresults="See More Results" data-noresult="No Results Found">
                            <input name="dnn$dnnSEARCH3$txtSearch" type="text" maxlength="255" size="20" id="dnn_dnnSEARCH3_txtSearch" class="NormalTextBox" autocomplete="off" placeholder="Search..." />
                            <a class="dnnSearchBoxClearText"></a>
                        </span>
                        <a id="dnn_dnnSEARCH3_cmdSearch" class="search" href="javascript:__doPostBack(&#39;dnn$dnnSEARCH3$cmdSearch&#39;,&#39;&#39;)"></a>
                    </span>

                    <script type="text/javascript">
                        $(function () {
                            if (typeof dnn != "undefined" && typeof dnn.searchSkinObject != "undefined") {
                                var searchSkinObject = new dnn.searchSkinObject({
                                    delayTriggerAutoSearch: 400,
                                    minCharRequiredTriggerAutoSearch: 2,
                                    searchType: 'S',
                                    enableWildSearch: true,
                                    cultureCode: 'en-US',
                                    portalId: -1
                                }
                                );
                                searchSkinObject.init();
                                // attach classic search
                                var siteBtn = $('#dnn_dnnSEARCH3_SiteRadioButton');
                                var webBtn = $('#dnn_dnnSEARCH3_WebRadioButton');
                                var clickHandler = function () {
                                    if (siteBtn.is(':checked')) searchSkinObject.settings.searchType = 'S';
                                    else searchSkinObject.settings.searchType = 'W';
                                };
                                siteBtn.on('change', clickHandler);
                                webBtn.on('change', clickHandler);
                            }
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>-->

    <div class="mobile_menu">
        <div class="dnn_layout">
            <div class="head_mid clearfix">
                <div class="mobile_menubox">
                    <div class="mobile_dnn_logo">
                        <a id="dnn_dnnLOGOphone_hypLogo" title="Acceuil" href="Home.html">
                            <img id="dnn_dnnLOGOphone_imgLogo" src="@Url.Content("~/Resources/images/png/Logo.png")" alt="Image BOPACK" style="border-width: 0px;" />
                        </a>
                    </div>

                    <a href="#gomenu92f0f81026" class="mobilemenu_close">X</a>

                    <div id="gomenu92f0f81026" class="mobile_menu">
                        <ul class="menu_list">
                            <li class="current first-item Item-1 mm-selected">
                                <a href="Home.html" class="acurrent" title="ACCEUIL">
                                    <span>ACCEUIL</span>
                                </a>
                            </li>
                            <li class="Item-2">
                                <a href="OURSERVICE.html" title="QUI SOMMES-NOUS ?">
                                    <span>QUI SOMMES-NOUS ?</span>
                                </a>
                            </li>
                            <li class="Item-3">
                                <a href="OURPRODUCTS.html" title="NOS PARTENAIRES">
                                    <span>NOS PARTENAIRES</span>
                                </a>
                            </li>
                            @*
                                <li class="Item-4">
                                    <a href="OURPLANS.html" title="NOS TARIFS">
                                        <span>NOS TARIFS</span>
                                    </a>
                                </li>
                            *@
                            <li class="Item-5">
                                <a href="OURCLIENTS.html" title="NOS CLIENTS">
                                    <span>NOS CLIENTS</span>
                                </a>
                            </li>
                            <li class="last-item Item-6">
                                <a href="CONTACTUS.html" title="CONTACTEZ NOUS">
                                    <span>CONTACTEZ NOUS</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="HeaderBottom clearfix">
                    <div class="HeaderPane_mobile"></div>
                </div>
            </div>
        </div>
    </div>
</div>